.boards__table {
    tr:hover {
        cursor: pointer;
    }
}

.boards__linkBox {
    a {
        margin: 0 8px;
    }
}

.boards__searchForm {
    display: inline-block;
}

.boards__select {
    display: inline-block;
    width: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
}